/* mat-card { margin: 2rem; } */
table { width: 100%; }
.full-width {
  width: 100%;
  margin-bottom: 1em;
}

mat-card {
  padding: 1em;
  width: 100%;
}
.mat-column-name, .mat-column-status, .mat-column-created, .mat-column-actions {
  text-align: center;
}